<ul>
  <li class="odd">test1</li>
  <li class="even">test2</li>
  <li class="odd">test3</li>
  <li class="even">test4</li>
  <li class="odd">test5</li>
  <li class="even">test6</li>
  <li class="odd">test7</li>
  <li class="even">test8</li>
  <li class="odd">test9</li>
</ul>
<p-button label="aaa"></p-button>
<p-button label="bb"></p-button>
<app-test-util [testValue]="'1111'"></app-test-util>
<app-test-util [testValue]="'2222'"></app-test-util>
<app-test-util [testValue]="'3333'"></app-test-util>
