<div class="login">
  <div></div>
  <section>
    <div class="bg"></div>
    <div class="content" [formGroup]="loginForm">
      <label>{{'title' | translate}}</label>
      <input type="text" id="name"
             formControlName="name" required
             [placeholder]="'login.placeholder.username' | translate" autofocus/>

      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <p *ngIf="name.errors.required">
          UserName is required.
        </p>
        <p *ngIf="name.errors.forbiddenName">
          UserName contains forbiddenName.
        </p>
      </div>
      <input type="password" id="password" formControlName="password" required [placeholder]="'login.placeholder.password' | translate" autofocus/>
      <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
        <p *ngIf="pwd.errors.required">
          Password is required.
        </p>
      </div>
      <div class="change-label">
        <p>
          <label [class.active]="languageClassFlag" (click)="onChangeLanguage('zh-CHS')">中文</label>/<label [class.active]="!languageClassFlag" (click)="onChangeLanguage('en')">English</label>
        </p>
        <p>
          <label>用户注册</label>/<label>忘记密码</label>
        </p>
      </div>
      <button (click)="onLogin();">{{'login.btn' | translate}}</button>
    </div>
  </section>
  <footer>
    <p>版权所有&copy;中国外汇交易中心暨全国银行间同行业拆借中心</p>
    <p>Copyright China Foreign Exchange Trade & National Interbank Center All Rights Reserved</p>
  </footer>
</div>
