<div class="login">
  <div></div>
  <section>
    <div class="bg"></div>
    <div class="content">
      <label>会员接口自动化测试系统</label>
      <input type="text" placeholder="Username" autofocus/>
      <input type="password" placeholder="Password" autofocus/>
      <div class="change-label">
        <p>
          <label class="active">中文</label>/<label>English</label>
        </p>
        <p>
          <label>用户注册</label>/<label>忘记密码</label>
        </p>
      </div>
      <button>LOGIN</button>
    </div>
  </section>
  <footer>
    <p>版权所有&copy;中国外汇交易中心暨全国银行间同行业拆借中心</p>
    <p>Copyright China Foreign Exchange Trade & National Interbank Center All Rights Reserved</p>
  </footer>
</div>
