html, body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}


// font
$font-size: '14px';
$font: 14px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;


// button color
$btn-normal: #3088d2;


// background color
$bg-white: white;



.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
